<h2>Sign up for our newsletter to receive news and specials!</h2>

<form class="form-horizontal" role="form" action="/newsletter-signup/process?form=newsletter" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <div class="row mb-4">
        <label for="fieldName" class="col-sm-1 form-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" id="fieldName">
        </div>

        <label for="fieldEmail" class="col-sm-1 form-label">Email</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" required name="email" id="fieldEmail">
        </div>
    </div>

    <div class="row">
        <div class="offset-sm-1 col-sm-5">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>

</form>